# Copyright (c) 2020 Intel Corporation
#
# SPDX-License-Identifier: Apache-2.0

if BOARD_INTEL_ADSP_MTL

config BOARD
	default "intel_adsp_mtl"

endif # BOARD_INTEL_ADSP_MTL

if BOARD_INTEL_ADSP_MTL_SIM

config BOARD
	default "intel_adsp_mtl_sim"

endif # BOARD_INTEL_ADSP_MTL_SIM