# Copyright (c) 2020 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

choice
	prompt "Intel ADSP SoC Selection"

	config SOC_INTEL_MTL
		bool "Meteor Lake SoC"
		depends on SOC_SERIES_INTEL_MTL

endchoice
